@import "@fontsource/metropolis";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.home__hero-section {
  color: #f7f8fa;
  padding: 160px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-family: metropolis;
  font-size: 46px;
  line-height: 67.2px;
  font-weight: bolder;
  text-decoration: none solid rgb(245, 166, 35);
  word-spacing: 0px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: black;
}

.darkBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(2, 2, 31, 1) 100%
  );
}

.home__hero-subtitle {
  font-family: metropolis;
  max-width: 440px;
  margin-bottom: 35px;
  margin-top: 35px;
  font-size: 20px;
  line-height: 25px;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .top-line {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .top-line {
    font-size: 26px;
    line-height: 35px;
  }
}
